
.section-padding {
  padding: 60px 0px;
}
.title, .service-title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.pad-bt15 {
  padding-bottom: 15px;
}
.sub-title {
  font-size: 20px;
}
.bottom-line {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 0;
  border-top: 0px;
  height: 3px;
  width: 40px;
  background-color: #BE9E21;
}
.blog-img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.blog-img img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.blog-img img {
  width: 100%;
  opacity: 0.8;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.blog-info h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 5px;
}

.blog-comment {
  margin-top: 12px;
  min-height: 30px;
}

.blog-info p, .blog-comment p {
  color: #949494;
}

.blog-comment p:first-child {
  float: left;
}

.blog-comment p:last-child {
  float: right;
  margin-right: 0;
}

.blog-comment p i {
  color: #949494;
}

.read-more {
  color: #949494;
  margin-top: 15px;
  display: inline-block;
}

.blog-img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.blog-img img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.blog-img img {
  width: 100%;
  opacity: 0.8;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.read-more {
  color: #949494;
  margin-top: 15px;
  display: inline-block;
}

 @media (min-width: 768px) and (max-width: 980px) {
  .service-item, .blog-sec, .wrap-item, .loction-info {
    margin-bottom: 15px;
  }
  .portfolio-item figure figcaption {
    padding: 55px 30px;
  }
  .padding-right-zero {
    padding-right: 15px !important;
  }
}

@media (min-width: 451px) and (max-width: 767px) {
  .service-item, .blog-sec, .wrap-item, .loction-info {
    margin-bottom: 15px;
  }
}

@media (min-width: 20px) and (max-width: 450px) {
    .title, .service-title {
    font-size: 28px;
  }
    .sub-title {
    font-size: 15px;
  }
    .service-item, .blog-sec, .wrap-item, .loction-info {
    margin-bottom: 15px;
  }
}
