{% extends 'blog/basic.html' %}
{% load static %}

{% block css %}
<style>
    .blog-img {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .blog-img img:hover {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
    .blog-img img {
        width: 100%;
        opacity: 0.8;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    .categories_post img{
        width: 350px !important;
        height: 215px !important;
    }
</style>
{% endblock %}

{% block body %}

{% block page_details %}  Blog {% endblock %}
{% block page_name %} Home/Blog  {% endblock %}

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-dark">Top Categories</h2>
            </div>
            {% for item in cat %}
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="categories_post">
                    <img alt="post" src="/media/{{ item.Thumbnail }}">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="#"><h5>{{ item.Category_name }}</h5></a>
                            <div class="border_line"></div>
                            <p>{{ item.Text }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--          <div class="col-lg-4 col-md-6">
                          <div class="categories_post">
                              <img src="{% static 'blog/assets/images/blog/cat-post/cat-post-1.jpg' %}" alt="post">
                              <div class="categories_details">
                                  <div class="categories_text">
                                      <a href="blog-details.html"><h5>Food</h5></a>
                                      <div class="border_line"></div>
                                      <p>Let the food be finished</p>
                                  </div>
                              </div>
                          </div>
                      </div>   -->
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">Latest from our blog</h2>
                <p class="sub-title pad-bt15"></p>
                <hr class="bottom-line">
            </div>
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    {% for item in post %}
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">{{ item.Category }}</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">{{ item.Author.First_Name }} {{ item.Author.Last_Name }}<i
                                            class="fa fa-user-o"></i></a></li>
                                    <li><a href="#">{{ item.Created_datetime|date:'d M Y' }}<i
                                            class="fa fa-calendar-o"></i></a></li>
                                    <li><a href="#">1.2M Views<i class="fa fa-eye"></i></a></li>
                                    <li><a href="#">{{ item.comment.count }} Comment<i class="fa fa-comment-o"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <div class="blog-img">
                                    <img alt="" src="/media/{{ item.Thumbnail }}">
                                </div>
                                <div class="blog_details">
                                    <a href="{% url 'post_detail' pid=item.Blogpost_id %}"><h4>{{ item.Title }}</h4>
                                    </a>
                                    <a class="template-btn" href="{% url 'post_detail' pid=item.Blogpost_id %}">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                    <!--              <nav class="blog-pagination justify-content-center d-flex">
                                      <ul class="pagination">
                                          <li class="page-item">
                                              <a href="#" class="page-link" aria-label="Previous">
                                                  <span aria-hidden="true">
                                                      <span class="fa fa-angle-left"></span>
                                                  </span>
                                              </a>
                                          </li>
                                          <li class="page-item"><a href="#" class="page-link">01</a></li>
                                          <li class="page-item active"><a href="#" class="page-link">02</a></li>
                                          <li class="page-item"><a href="#" class="page-link">03</a></li>
                                          <li class="page-item"><a href="#" class="page-link">04</a></li>
                                          <li class="page-item"><a href="#" class="page-link">09</a></li>
                                          <li class="page-item">
                                              <a href="#" class="page-link" aria-label="Next">
                                                  <span aria-hidden="true">
                                                      <span class="fa fa-angle-right"></span>
                                                  </span>
                                              </a>
                                          </li>
                                      </ul>
                                  </nav>      -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input class="form-control" type="text">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list cat-list">
                            {% for item in cat %}
                            <li>
                                <a class="d-flex justify-content-between" href="#">
                                    <p>{{ item.Category_name }}</p>
                                    <p>{{ item.category_post.count }}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="{% url 'add_post' %}">Click</a>
<!--================Blog Area =================-->
{% endblock %}
